#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}
header{
  color: gold;
  padding: 10px;
  background-color: #7f848f;
  position: sticky;
}
header ul{
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  background-color: #5983df;
}

header li {
  float: left;
  list-style-type:none;
  border-right: 1px solid rgb(0, 255, 128);  
}

header li a {
  text-align: center;
  text-decoration: none;
  display: block;
  color: gold;
  padding: 14px 16px;  
}

header li a:hover {
  background-color: rgb(214, 18, 165);
  color: white;
}

h2 {
  color: gold;
  border-bottom: 2px solid red;
}
body {
  background-image: url(/mypics/tb2.png);
}
aside {
    margin: 10px;
    background-color: #7f848f;
    width:320px;
    height:auto;
    padding-right:20px;
    color:white;
}

body form aside section {
  background-color: #5983df;
  padding: 10px;
  width:300px;
}

main {
    background-color: #7f848f;
    position: absolute;
    right: 50px;
    top: 89px;
    height:1500px;
    width:920px;    
}
article {
  color: white;
  padding: 10px;
  background-color: #5983df;
  height:1480px;
  width:860px;
  font-size: 17px;
}
div {
  display:inline;
} 
.flex{
    display: flex;
}

input[type="time"]:before {
    color: black;
    position: absolute;
    background: rgb(255, 255, 255);
}
input.from:before{
    content: "FROM";
}
input.to:before{
    content: "TO";
}
input[type="time"]:hover:before {
    content: '';
}